body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#corazonImagen {
    
    transition: opacity 0.3s ease;
}

.oculto {
    opacity: 0;
    pointer-events: none;
}